/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$ionicons-font-path: "../lib/ionic/fonts" !default;

$light:                           #fff;
$assertive:                       #D31996;
$positive:                        #19DD89;
$dark:                            #000;

@import url(http://fonts.googleapis.com/css?family=Oxygen);
$font-family-sans-serif: "Oxygen", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !default;
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "www/scss/app/intro";
@import "www/scss/app/search";
@import "www/scss/app/show";


